table{
    height: 50%;
    margin:  5% auto;
    position: relative;
    width: 50%;
    tr{
        th{
            border: 2px solid black;
        }
        td{
            border: 1px solid black;  
            height: 50px;
            text-align: center;
        }
    }
    .btn-remove,.btn-edit{
        cursor: pointer;
    }
}
form{
    display: grid;
    justify-content: center;
    input{
        text-align: center;
    }
}
.modalFormEdit{
    align-content: center;
    background-color: white;
    border: 2px solid black;
    display: none;
    height: 50%;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    h1{
        cursor: pointer;
        position: absolute;
        right: 0;
    }
    form{
        margin: 0 auto;
        left: 25%;
        position: absolute;
        top: 50%;
        width: 50%;
    }
}